<h1>Patient Show Page</h1>
<ul>
<%= @patient.appointments.each do |apt| %>
    <li><%= link_to apt.doctor.name, doctor_path(apt.doctor) %> <br />
    <%= apt.print_apt_time %></li>
<% end %>
</ul>