<h1>Your Appointment:</h1>
<p>Your Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
<p><%= @appointment.print_apt_time %></p>
